/* ===========================================
* Web Fonts
* =========================================== */

@font-face {
  font-family: 'Inter Regular';
  src: url('Inter-Regular.woff2') format('woff2'),
       url('Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Semibold';
  src: url('Inter-SemiBold.woff2') format('woff2'),
        url('Inter-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Inter Bold';
  src: url('Inter-Bold.woff2') format('woff2'),
        url('Inter-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
